#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchForm {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.breweryDropdown {
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
}

.card {
  border-radius: 1em;
  background-color: rgba(139, 69, 19, 0.7);
  padding: 2em;
  border: 1px solid rgba(255, 255, 255, 0.87);
  width: 15em;
}

.searchBar {
  border-radius: 1em;
  margin: 1em;
  background-color: rgba(219, 144, 5, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.87);
  align-items: center;
}

.cardHolder {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.brewTable {
  width: 100%;
  border-radius: 2em;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.5em;
  background-color: rgba(38, 38, 38, 0.8);
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link {
  border: 1px solid white;
  background:#8C5E29;
  width: 4em;
  padding: 0.25em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.graph {
  border: 1px solid white;
  border-radius: 1em;
  background:rgba(38, 38, 38, 0.8);
  margin: 1em;
}